.container-xxl.py-5
  .container
    .row.g-5
      .col-lg-6.wow.fadeIn(data-wow-delay='0.1s')
        .about-img
          img.img-fluid(src='img/gallery/apollo-özsan/apollo-dış.jpeg', alt='')
          img.img-fluid(src='img/gallery/apollo-özsan/apollo-heykel.jpeg', alt='')
      .col-lg-6.wow.fadeIn(data-wow-delay='0.5s')
        h4.section-title Hakkımızda
        h1.display-5.mb-4
        | Hayalinizdeki Ev İçin Yaratıcı Bir Mimarlık Ajansı
        p
        | İz Mimarlık; mimarlık , iç mimari ve dekorasyon, dış tasarım, anahtar teslim projeler yapmaktadır. Ticari (okul, ofis, idari bina, klinik, mağaza, restaurant, cafe, hastane, düğün salonu..) ve Bireysel (villa, konut, bağ evi, yazlık ev, konak) projeleri tasarım ve takip aşamalarını, dünyada ve Türkiye de değişen ve gelişen şartlara uygun olarak, müşterilerimizin istekleri doğrultusunda gerçekleştiriyor. Tüm projeler verimli, kullanışlı, yaratılan dizaynı vurgulayıcı ve mekanın estetik öğelerini ön plana çıkaracak şekilde fonksiyonel işlevsellikle harmanlanarak tasarlanmaktadır.
        hr
        .d-flex.align-items-center.mb-5
          .d-flex.flex-shrink-0.align-items-center.justify-content-center.border.border-5.border-primary(style='width: 120px; height: 120px')
            h1.display-1.mb-n2(data-toggle='counter-up') 9
          .ps-4
            h3 Y&imath;ld&imath;r
            h3 &Ccedil;al&imath;&scedil;ma
            h3.mb-0 Tecr&uuml;besi
        a.btn.btn-primary.py-3.px-5(href='/hakkimizda') Detayl&imath; Bilgi
.container-xxl.py-5
  .container
    .row.g-5
      .col-lg-6.wow.fadeInUp(data-wow-delay='0.1s')
        h4.section-title Neden Bizi Se&ccedil;melisiniz?
        h1.display-5.mb-4 Neden Bize G&uuml;venmelisiniz? Hakk&imath;m&imath;zda Daha Fazla Bilgi Edinin!
        p.mb-4
          | Tecrübemizle, yüksek memnuniyet oranımızla, müşteri ilişkilerimizle 
          | mimarlık sektöründe uzman ve tecrübeli ustalar ile çalıştığımız gibi kaliteli hizmet alacağınızdan emin olabilirsiniz.
        .row.g-4
          .col-12
            .d-flex.align-items-start
              img.flex-shrink-0(src='img/icons/icon-2.png', alt='Icon')
              .ms-4
                h3 Tasar&imath;m yakla&scedil;&imath;m&imath;
                p.mb-0
                  | En yeni ve modern tasarımlarımızı sizlere sunuyoruz,
                  | size özel tasarımlar oluşturuyoruz.
          .col-12
            .d-flex.align-items-start
              img.flex-shrink-0(src='img/icons/icon-3.png', alt='Icon')
              .ms-4
                h3 Yenilik&ccedil;i &Ccedil;&ouml;z&uuml;mler
                p.mb-0
                  | Tamamen Modern çözümler ve yenilikçi yaklaşımlarla sizin
                  | isteklerinizi yerine getiriyoruz.
          .col-12
            .d-flex.align-items-start
              img.flex-shrink-0(src='img/icons/icon-4.png', alt='Icon')
              .ms-4
                h3 Proje Y&ouml;netimi
                p.mb-0
                  | Projemizi oluşturup baştan sona, sizin istekleriniz üzerine değişimler
                  | yaparak süreci yönetiyoruz.
      .col-lg-6.wow.fadeInUp(data-wow-delay='0.5s')
        .feature-img
          img.img-fluid(src='img/gallery/cambazlı/cambazlı-iç3.jpg', alt='')
          img.img-fluid(src='img/gallery/kaplan/kaplan-iç4.jpg', alt='')