// Footer Start
.container-fluid.bg-dark.text-body.footer.mt-5.pt-5.px-0.wow.fadeIn(data-wow-delay='0.1s')
  .container.py-5
    .row.g-5
      .col-lg-3.col-md-6
        h3.text-light.mb-4 Address
        p.mb-2
          i.fa.fa-map-marker-alt.text-primary.me-3
          | 123 Street, New York, USA
        p.mb-2
          i.fa.fa-phone-alt.text-primary.me-3
          | +012 345 67890
        p.mb-2
          i.fa.fa-envelope.text-primary.me-3
          | info@example.com
        .d-flex.pt-2
          a.btn.btn-square.btn-outline-body.me-1(href='')
            i.fab.fa-twitter
          a.btn.btn-square.btn-outline-body.me-1(href='')
            i.fab.fa-facebook-f
          a.btn.btn-square.btn-outline-body.me-1(href='')
            i.fab.fa-youtube
          a.btn.btn-square.btn-outline-body.me-0(href='')
            i.fab.fa-linkedin-in
      .col-lg-3.col-md-6
        h3.text-light.mb-4 Services
        a.btn.btn-link(href='') Architecture
        a.btn.btn-link(href='') 3D Animation
        a.btn.btn-link(href='') House Planning
        a.btn.btn-link(href='') Interior Design
        a.btn.btn-link(href='') Construction
      .col-lg-3.col-md-6
        h3.text-light.mb-4 Quick Links
        a.btn.btn-link(href='') About Us
        a.btn.btn-link(href='') Contact Us
        a.btn.btn-link(href='') Our Services
        a.btn.btn-link(href='') Terms &amp; Condition
        a.btn.btn-link(href='') Support
      .col-lg-3.col-md-6
        h3.text-light.mb-4 Newsletter
        p Dolor amet sit justo amet elitr clita ipsum elitr est.
        .position-relative.mx-auto(style='max-width: 400px;')
          input.form-control.bg-transparent.w-100.py-3.ps-4.pe-5(type='text' placeholder='Your email')
          button.btn.btn-primary.py-2.position-absolute.top-0.end-0.mt-2.me-2(type='button') SignUp
  .container-fluid.copyright
    .container
      .row
        .col-md-6.text-center.text-md-start.mb-3.mb-md-0
          | &copy; 
          a(href='#') Your Site Name
          | , All Right Reserved.
        .col-md-6.text-center.text-md-end
          // /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
          | Designed By 
          a(href='https://htmlcodex.com') HTML Codex
          br
          |  Distributed By: 
          a.border-bottom(href='https://themewagon.com' target='_blank') ThemeWagon
// Footer End
// Back to Top
a.btn.btn-lg.btn-primary.btn-lg-square.back-to-top(href='#')
  i.bi.bi-arrow-up