// Footer Start
.container-fluid.bg-dark.text-body.footer.mt-5.pt-5.px-0.wow.fadeIn(data-wow-delay='0.1s')
  .container.py-5
    .row.g-5
      .col-lg-4.col-md-6
        h3.text-light.mb-4 Adres
        p.mb-2
          i.fa.fa-map-marker-alt.text-primary.me-3
          | İhsaniye Mh. Gökçen Efe Cd. No:68/1A Tire/İZMİR
        p.mb-2
          i.fa.fa-phone-alt.text-primary.me-3
          | +09 555 110 88 89
        p.mb-2
          i.fa.fa-envelope.text-primary.me-3
          | boyaciorkun@gmail.com
        .d-flex.pt-2
          a.btn.btn-square.btn-outline-body.me-1(href='https://www.instagram.com/_izmimarlik_/')
            i.fab.fa-instagram
          a.btn.btn-square.btn-outline-body.me-1(href='https://tr-tr.facebook.com/orkun.boyaci.37')
            i.fab.fa-facebook-f
      .col-lg-4.col-md-6
        h3.text-light.mb-4 Servislerimiz
        a.btn.btn-link(href='') Mimari Proje
        a.btn.btn-link(href='') 3D Çizim
        a.btn.btn-link(href='') Ev Planlama
        a.btn.btn-link(href='') İç dizayn
        a.btn.btn-link(href='') Tadilat & Tamirat
        a.btn.btn-link(href='') İnşaat
      .col-lg-4.col-md-6
        h3.text-light.mb-4 Sayfalar
        a.btn.btn-link(href='/hakkımızda') Hakkımızda
        a.btn.btn-link(href='/iletisim') İletişim
        a.btn.btn-link(href='/projelerimiz') Projelerimiz
        a.btn.btn-link(href='/servislerimiz') Servislerimiz
     
  .container-fluid.copyright
    .container
      .row
        .col-md-6.text-center.text-md-start.mb-3.mb-md-0
          | &copy; 
          a(href='/anasayfa') İz Mimarlık
          | , All Right Reserved.
        .col-md-6.text-center.text-md-end
          // /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
          | Designed By 
          a(href='https://github.com/kaanboyacii') Kaan Boyaci
          br
// Footer End
// Back to Top
a.btn.btn-lg.btn-primary.btn-lg-square.back-to-top(href='#')
  i.bi.bi-arrow-up