.container-xxl.project.py-5
  .container
    .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 600px;')
      h4.section-title Projelerimiz
      h1.display-5.mb-4 Son Projelerimizi ve Yenilik&ccedil;i &Ccedil;al&imath;&scedil;malar&imath;m&imath;z&imath; Ziyaret Edin
    .row.g-4.wow.fadeInUp(data-wow-delay='0.3s')
      .col-lg-4
        .nav.nav-pills.d-flex.justify-content-between.w-100.h-100.me-4
          button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active(data-bs-toggle='pill', data-bs-target='#tab-pane-1', type='button')
            h3.m-0 01. Kaplan Dağ Evi
          button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4(data-bs-toggle='pill', data-bs-target='#tab-pane-2', type='button')
            h3.m-0 02. Cambazlı Dağ Evi
          button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4(data-bs-toggle='pill', data-bs-target='#tab-pane-3', type='button')
            h3.m-0 03. Dubleks Villa
          button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-0(data-bs-toggle='pill', data-bs-target='#tab-pane-4', type='button')
            h3.m-0 04. Tiny House
      .col-lg-8
        .tab-content.w-100
          #tab-pane-1.tab-pane.fade.show.active
            .row.g-4
              .col-md-6(style='min-height: 350px;')
                .position-relative.h-100
                  img.position-absolute.img-fluid.w-100.h-100(src='img/gallery/kaplan/kaplandışdikey.jpeg', style='object-fit: cover;', alt='')
              .col-md-6
                h1.mb-3 Kaplan Dağ Evi
                p.mb-4
                  | Eski binayı yıkılıp, tekrardan özel tasarım, modern bir dağ evi oluşturduğumuz projedir.
                  | Şık tasarımıyla ve geniş bahçe alanıyla herkesin dikkatini çeken bir yaşam alanı oluşturduk.
                p
                  i.fa.fa-check.text-primary.me-3
                  | Kişiye özel tasarım
                p
                  i.fa.fa-check.text-primary.me-3
                  | Modern iç tasarım
                p
                  i.fa.fa-check.text-primary.me-3
                  | Planlı proje yönetimi
          #tab-pane-2.tab-pane.fade
            .row.g-4
              .col-md-6(style='min-height: 350px;')
                .position-relative.h-100
                  img.position-absolute.img-fluid.w-100.h-100(src='img/gallery/cambazlı/cambazlıdışdikey.jpg', style='object-fit: cover;', alt='')
              .col-md-6
                h1.mb-3 Cambazlı Dağ Evi
                p.mb-4
                  | Elverişsiz, eski binayı içini ve dışını eskisinden eser kalmayacak şekilde tekrardan oluşturduk.
                  | Son derece modern bir oluşum yaptık. 
                p
                  i.fa.fa-check.text-primary.me-3
                  | Modern tasarım
                p
                  i.fa.fa-check.text-primary.me-3
                  | İleri düzey tamirat & tadilat
                p
                  i.fa.fa-check.text-primary.me-3
                  | Planlı proje yönetimi
          #tab-pane-3.tab-pane.fade
            .row.g-4
              .col-md-6(style='min-height: 350px;')
                .position-relative.h-100
                  img.position-absolute.img-fluid.w-100.h-100(src='img/gallery/sezen/sezendışdikey.jpg', style='object-fit: cover;', alt='')
              .col-md-6
                h1.mb-3 Dubleks Villa
                p.mb-4
                  | Şehrin içinde eski fakat değerli bir villayı, dış ve iç olarak yeniledik. Şehrin en modern villalarından
                  | biri halinde getirdik, gece görüntüsüyle herkesin dikkatini çekiyor.
                p
                  i.fa.fa-check.text-primary.me-3
                  | Kişiselleştirilmiş dizayn
                p
                  i.fa.fa-check.text-primary.me-3
                  | Yenilikçi tasarım
                p
                  i.fa.fa-check.text-primary.me-3
                  | Düzenli inşaat süreci
          #tab-pane-4.tab-pane.fade
            .row.g-4
              .col-md-6(style='min-height: 350px;')
                .position-relative.h-100
                  img.position-absolute.img-fluid.w-100.h-100(src='img/gallery/yuvalı/yuvalıdışdikey.jpeg', style='object-fit: cover;', alt='')
              .col-md-6
                h1.mb-3 Tiny House
                p.mb-4
                  | Köyün içinde doğayla iç içe tiny house oluşturduk. Eski kulübeyi yıkıp üstüne modern ve kullanışlı           
                  | bir yaşam alanı oluşturduk. Tire ilçesinde ilk Tiny House yaparak kayda geçtik.
                p
                  i.fa.fa-check.text-primary.me-3
                  | Modern Tasarım
                p
                  i.fa.fa-check.text-primary.me-3
                  | Yenilikçi dizayn yaklaşımı
                p
                  i.fa.fa-check.text-primary.me-3
                  | Düzenli inşaat süreci
