.container-xxl.py-5
  .container
    .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s' style='max-width: 600px')
      h4.section-title Servislerimiz
      h1.display-5.mb-4
        | Modern Mimari ve &Idot;&ccedil; Tasar&imath;ma Odakland&imath;k
    .row.g-4
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/service-1.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-5.png' alt='Icon')
            h3.mb-3 Mimari Proje
            p.mb-4
            | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
            | lorem sed diam stet diam sed stet.
            br
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/service-1.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-5.png' alt='Icon')
            h3.mb-3 3D Çizim
            p.mb-4
            | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
            | lorem sed diam stet diam sed stet.
            br
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/service-1.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-5.png' alt='Icon')
            h3.mb-3 Ev Planlama
            p.mb-4
            | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
            | lorem sed diam stet diam sed stet.
            br
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/service-1.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-5.png' alt='Icon')
            h3.mb-3 İç dizayn
            p.mb-4
            | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
            | lorem sed diam stet diam sed stet.
            br
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/service-1.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-5.png' alt='Icon')
            h3.mb-3 Tadilat & Tamirat
            p.mb-4
            | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
            | lorem sed diam stet diam sed stet.
            br
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/service-1.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-5.png' alt='Icon')
            h3.mb-3 İnşaat
            p.mb-4
            | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
            | lorem sed diam stet diam sed stet.
            br
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi