.container-xxl.py-5
  .container
    .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s' style='max-width: 600px')
      h4.section-title Servislerimiz
      h1.display-5.mb-4
        | Modern Mimari ve &Idot;&ccedil; Tasar&imath;ma Odakland&imath;k
    .row.g-4
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/gallery/3d5.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-5.png' alt='Icon')
            h3.mb-3 Mimari Proje
            p.mb-4
            | Tüm yapı tipleri için plan çizimi, ruhsat alımına kadar olan tüm teknik çizimler. İç ve dış görselleştirme. Öğrenciler için proje çizim ve tasarımlarını birlikte uygulamaktayız.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/gallery/sezen/3dsezen.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-6.png' alt='Icon')
            h3.mb-3 3D Çizim
            p.mb-4
            | Sizlerin taleplerini ve isteklerini en doğru ve estetik şekilde uygulayacağımız projelerimizin doğru ölçek ve malzemeler kullanılarak en son hali ile görsel sunum haline getiriyoruz.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/gallery/şehrimuazzammutfak.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-7.png' alt='Icon')
            h3.mb-3 Ev Planlama
            p.mb-4
            | Size uygun yaşam alanını en ergonomik, en faydaki şekilde planlıyoruz, sizlere sunuyoruz.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/gallery/apollo-özsan/özsanofis.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-8.png' alt='Icon')
            h3.mb-3 İç dizayn
            p.mb-4
            | İç Mimarımız ve Mimarımız ile, süreci başından sonuna büyük bir özenle sürdürüyoruz, sizlere tamamen size özel
            | iç tasarını sunuyoruz. 
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/gallery/sezen/sezen2.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-9.png' alt='Icon')
            h3.mb-3 Tadilat & Tamirat
            p.mb-4
            | Eski yaşam alanlarınızı, yeni teknolojilerle modern bir yaşam alanına çeviriyoruz ve hem dış hem de iç tamirat gereksinimleri için profesyonel olarak tamirat hizmetini sizlere sunuyoruz.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='../img/gallery/kaplan/kaplan-dış1.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-10.png' alt='Icon')
            h3.mb-3 İnşaat
            p.mb-4
            | Tecrübeli ustalarımız ve dinamik ekibimizle sizlere en kısa sürede hizmetlerinizi bitirme garantisini veriyoruz.