// Topbar Start
.container-fluid.bg-dark.p-0.wow.fadeIn(data-wow-delay='0.2s')
  .row.gx-0.d-none.d-lg-flex
    .col-lg-7.px-5.text-start
      .h-100.d-inline-flex.align-items-center.py-3.me-3
        a.text-body.px-2(href='tel:+0123456789')
          i.fa.fa-phone-alt.text-primary.me-2
          | +09 555 110 88 89
        a.text-body.px-2(href='mailto:info@example.com')
          i.fa.fa-envelope-open.text-primary.me-2
          | boyaciorkun@gmail.com
    .col-lg-5.px-5.text-end
      .h-100.d-inline-flex.align-items-center
          a.btn.btn-square.btn-outline-body.me-1(href='https://www.instagram.com/_izmimarlik_/')
            i.fab.fa-instagram
          a.btn.btn-square.btn-outline-body.me-1(href='https://tr-tr.facebook.com/orkun.boyaci.37')
            i.fab.fa-facebook-f
// Topbar End
