// Topbar Start
.container-fluid.bg-dark.p-0.wow.fadeIn(data-wow-delay='0.2s')
  .row.gx-0.d-none.d-lg-flex
    .col-lg-7.px-5.text-start
      .h-100.d-inline-flex.align-items-center.py-3.me-3
        a.text-body.px-2(href='tel:+0123456789')
          i.fa.fa-phone-alt.text-primary.me-2
          | +012 345
          |             6789
        a.text-body.px-2(href='mailto:info@example.com')
          i.fa.fa-envelope-open.text-primary.me-2
          | info@example.com
    .col-lg-5.px-5.text-end
      .h-100.d-inline-flex.align-items-center.py-3.me-2
        a.text-body.px-2(href='') Terms
        a.text-body.px-2(href='') Privacy
      .h-100.d-inline-flex.align-items-center
        a.btn.btn-sm-square.btn-outline-body.me-1(href='')
          i.fab.fa-facebook-f
        a.btn.btn-sm-square.btn-outline-body.me-1(href='')
          i.fab.fa-twitter
        a.btn.btn-sm-square.btn-outline-body.me-1(href='')
          i.fab.fa-linkedin-in
        a.btn.btn-sm-square.btn-outline-body.me-0(href='')
          i.fab.fa-instagram
// Topbar End
