<!doctype html>
html(lang='en')

  include ../includes/head
  
  body

      include ../includes/topbar
      include ../includes/navbar

      .container(style='padding-top: 70px')
            block content
      include ../includes/script

