<!doctype html>
html(lang='en')

  include ../includes/head
  
  body

      include ../includes/topbar
      include ../includes/navbar
      block content
      include ../includes/script
      include ../includes/footer

