extends layouts/main-layout.pug
block content 
    .container-fluid.page-header.py-5.mb-5.wow.fadeIn(data-wow-delay='0.1s')
      .container.py-5
        h1.display-1.text-white.animated.slideInDown İletişim
        nav(aria-label='breadcrumb animated slideInDown')
          ol.breadcrumb.text-uppercase.mb-0
            li.breadcrumb-item
                a.text-white(href='/anasayfa') Anasayfa
            li.breadcrumb-item
                a.text-white(href='/iletisim') İletişim
    .container-xxl.py-5
      .container
        .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 600px;')
          h4.section-title Bize Ulaşın
          h1.display-5.mb-4 Herhangi Bir Sorunuz Varsa, Lütfen Bize Ulaşın
        .row.g-5
          .col-lg-6.wow.fadeInUp(data-wow-delay='0.1s')
            .d-flex.flex-column.justify-content-between.h-100
              .bg-light.d-flex.align-items-center.w-100.p-4.mb-4
                .d-flex.flex-shrink-0.align-items-center.justify-content-center.bg-dark(style='width: 55px; height: 55px;')
                  i.fa.fa-map-marker-alt.text-primary
                .ms-4
                  p.mb-2 Adres
                  h3.mb-0 İhsaniye Mh. Gökçen Efe Cd. No:68/1A Tire/İZMİR
              .bg-light.d-flex.align-items-center.w-100.p-4.mb-4
                .d-flex.flex-shrink-0.align-items-center.justify-content-center.bg-dark(style='width: 55px; height: 55px;')
                  i.fa.fa-phone-alt.text-primary
                .ms-4
                  p.mb-2 Telefon
                  h3.mb-0 +09 555 110 88 89
              .bg-light.d-flex.align-items-center.w-100.p-4
                .d-flex.flex-shrink-0.align-items-center.justify-content-center.bg-dark(style='width: 55px; height: 55px;')
                  i.fa.fa-envelope-open.text-primary
                .ms-4
                  p.mb-2 E-posta Adresi
                  h3.mb-0 boyaciorkun@gmail.com
          .col-lg-6.wow.fadeInUp(data-wow-delay='0.5s')
            iframe.w-100.mb-n2(style='height: 450px;', src='https://maps.google.com/maps?q=%C4%B0hsaniye,%20G%C3%B6k%C5%9Fen%20Efe%20Cd.%20No:68,%2035900%20Tire/%C4%B0zmir&t=k&z=15&ie=UTF8&iwloc=&output=embed', allowfullscreen='', aria-hidden='false', tabindex='0', frameborder='0')
        