extends layouts/main-layout.pug
block content 
  include includes/slider.pug 

  .container-xxl.py-5
    .container.pt-5
      .row.g-4
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .fact-item.text-center.bg-light.h-100.p-5.pt-0
            .fact-icon
              img(src='img/icons/icon-2.png' alt='Icon')
            h3.mb-3 Tasarım yaklaşımı
            p.mb-0
              | En yeni ve modern tasarımlarımızı sizlere sunuyoruz,
              | size özel tasarımlar oluşturuyoruz.
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .fact-item.text-center.bg-light.h-100.p-5.pt-0
            .fact-icon
              img(src='img/icons/icon-3.png' alt='Icon')
            h3.mb-3 Yenilikçi Çözümler
            p.mb-0
              | Tamamen Modern çözümler ve yenilikçi yaklaşımlarla sizin
              | isteklerinizi yerine getiriyoruz.
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
          .fact-item.text-center.bg-light.h-100.p-5.pt-0
            .fact-icon
              img(src='img/icons/icon-4.png' alt='Icon')
            h3.mb-3 Proje Yönetimi
            p.mb-0
              | Projemizi oluşturup baştan sona, sizin istekleriniz üzerine değişimler
              | yaparak süreci yönetiyoruz.



  include includes/about.pug 
  include includes/service.pug 
  include includes/project.pug 