extends layouts/main-layout.pug
block content 
  include includes/slider.pug 

  .container-xxl.py-5
    .container.pt-5
      .row.g-4
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .fact-item.text-center.bg-light.h-100.p-5.pt-0
            .fact-icon
              img(src='img/icons/icon-2.png' alt='Icon')
            h3.mb-3 Tasar&imath;m yakla&scedil;&imath;m&imath;
            p.mb-0
              | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
              | sed diam stet diam sed stet.
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .fact-item.text-center.bg-light.h-100.p-5.pt-0
            .fact-icon
              img(src='img/icons/icon-3.png' alt='Icon')
            h3.mb-3 Yenilik&ccedil;i &Ccedil;&ouml;z&uuml;mler
            p.mb-0
              | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
              | sed diam stet diam sed stet.
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
          .fact-item.text-center.bg-light.h-100.p-5.pt-0
            .fact-icon
              img(src='img/icons/icon-4.png' alt='Icon')
            h3.mb-3 Proje Y&ouml;netimi
            p.mb-0
              | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
              | sed diam stet diam sed stet.



  include includes/about.pug 
  include includes/service.pug 
  include includes/project.pug 