// Facts Start
.container-xxl.py-5
  .container.pt-5
    .row.g-4
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .fact-item.text-center.bg-light.h-100.p-5.pt-0
          .fact-icon
            img(src='img/icons/icon-2.png' alt='Icon')
          h3.mb-3 Tasar&imath;m yakla&scedil;&imath;m&imath;
          p.mb-0
            | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
            | sed diam stet diam sed stet.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
        .fact-item.text-center.bg-light.h-100.p-5.pt-0
          .fact-icon
            img(src='img/icons/icon-3.png' alt='Icon')
          h3.mb-3 Yenilik&ccedil;i &Ccedil;&ouml;z&uuml;mler
          p.mb-0
            | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
            | sed diam stet diam sed stet.
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
        .fact-item.text-center.bg-light.h-100.p-5.pt-0
          .fact-icon
            img(src='img/icons/icon-4.png' alt='Icon')
          h3.mb-3 Proje Y&ouml;netimi
          p.mb-0
            | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
            | sed diam stet diam sed stet.
// Facts End
// About Start
.container-xxl.py-5
  .container
    .row.g-5
      .col-lg-6.wow.fadeIn(data-wow-delay='0.1s')
        .about-img
          img.img-fluid(src='img/gallery/IMG-20220129-WA0006.jpg' alt='')
          img.img-fluid(src='img/gallery/IMG-20220129-WA0008.jpg' alt='')
      .col-lg-6.wow.fadeIn(data-wow-delay='0.5s')
        h4.section-title Hakk&imath;m&imath;zda
        h1.display-5.mb-4
          | Hayalinizdeki Ev &Idot;&ccedil;in Yarat&imath;c&imath; Bir Mimarl&imath;k Ajans&imath;
        p
          | &Idot;z Mimarl&imath;k; mimarl&imath;k , i&ccedil; mimari ve dekorasyon, d&imath;&scedil; tasar&imath;m,
          | anahtar teslim projeler yapmaktad&imath;r. Ticari (okul, ofis, idari
          | bina, klinik, ma&gbreve;aza, restaurant, cafe, hastane, d&uuml;&gbreve;&uuml;n salonu..)
          | ve Bireysel (villa, konut, ba&gbreve; evi, yazl&imath;k ev, konak) projeleri
          | tasar&imath;m ve takip a&scedil;amalar&imath;n&imath;, d&uuml;nyada ve T&uuml;rkiye de de&gbreve;i&scedil;en ve
          | geli&scedil;en &scedil;artlara uygun olarak, m&uuml;&scedil;terilerimizin istekleri
          | do&gbreve;rultusunda ger&ccedil;ekle&scedil;tiriyor. T&uuml;m projeler verimli, kullan&imath;&scedil;l&imath;,
          | yarat&imath;lan dizayn&imath; vurgulay&imath;c&imath; ve mekan&imath;n estetik &ouml;&gbreve;elerini &ouml;n
          | plana &ccedil;&imath;karacak &scedil;ekilde fonksiyonel i&scedil;levsellikle harmanlanarak
          | tasarlanmaktad&imath;r.
        .d-flex.align-items-center.mb-5
          .d-flex.flex-shrink-0.align-items-center.justify-content-center.border.border-5.border-primary(style='width: 120px; height: 120px')
            h1.display-1.mb-n2(data-toggle='counter-up') 9
          .ps-4
            h3 Y&imath;ld&imath;r
            h3 &Ccedil;al&imath;&scedil;ma
            h3.mb-0 Tecr&uuml;besi
        a.btn.btn-primary.py-3.px-5(href='') Detayl&imath; Bilgi
// About End
// Service Start
.container-xxl.py-5
  .container
    .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s' style='max-width: 600px')
      h4.section-title Servislerimiz
      h1.display-5.mb-4
        | Modern Mimari ve &Idot;&ccedil; Tasar&imath;ma Odakland&imath;k
    .row.g-4
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='img/service-1.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-5.png' alt='Icon')
            h3.mb-3 Mimari Proje
            p.mb-4
              | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
              | lorem sed diam stet diam sed stet.
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='img/service-2.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-6.png' alt='Icon')
            h3.mb-3 3D &Ccedil;izim
            p.mb-4
              | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
              | lorem sed diam stet diam sed stet.
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='img/service-3.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-7.png' alt='Icon')
            h3.mb-3 Ev Planlama
            p.mb-4
              | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
              | lorem sed diam stet diam sed stet.
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='img/service-4.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-8.png' alt='Icon')
            h3.mb-3 &Idot;&ccedil; dizayn
            p.mb-4
              | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
              | lorem sed diam stet diam sed stet.
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='img/service-5.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-9.png' alt='Icon')
            h3.mb-3 Yenileme
            p.mb-4
              | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
              | lorem sed diam stet diam sed stet.
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
      .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
        .service-item.d-flex.position-relative.text-center.h-100
          img.bg-img(src='img/service-6.jpg' alt='')
          .service-text.p-5
            img.mb-4(src='img/icons/icon-10.png' alt='Icon')
            h3.mb-3 &Idot;n&scedil;aat
            p.mb-4
              | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
              | lorem sed diam stet diam sed stet.
            a.btn(href='')
              i.fa.fa-plus.text-primary.me-3
              | Detayl&imath; Bilgi
// Service End
// Feature Start
.container-xxl.py-5
  .container
    .row.g-5
      .col-lg-6.wow.fadeInUp(data-wow-delay='0.1s')
        h4.section-title Neden Bizi Se&ccedil;melisiniz?
        h1.display-5.mb-4 Neden Bize G&uuml;venmelisiniz? Hakk&imath;m&imath;zda Daha Fazla Bilgi Edinin!
        p.mb-4
          | Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
          | Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
        .row.g-4
          .col-12
            .d-flex.align-items-start
              img.flex-shrink-0(src='img/icons/icon-2.png' alt='Icon')
              .ms-4
                h3 Tasar&imath;m yakla&scedil;&imath;m&imath;
                p.mb-0
                  | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed
                  | stet.
          .col-12
            .d-flex.align-items-start
              img.flex-shrink-0(src='img/icons/icon-3.png' alt='Icon')
              .ms-4
                h3 Yenilik&ccedil;i &Ccedil;&ouml;z&uuml;mler
                p.mb-0
                  | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed
                  | stet.
          .col-12
            .d-flex.align-items-start
              img.flex-shrink-0(src='img/icons/icon-4.png' alt='Icon')
              .ms-4
                h3 Proje Y&ouml;netimi
                p.mb-0
                  | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed
                  | stet.
      .col-lg-6.wow.fadeInUp(data-wow-delay='0.5s')
        .feature-img
          img.img-fluid(src='img/gallery/IMG-20220129-WA0007.jpg' alt='')
          img.img-fluid(src='img/gallery/IMG-20220129-WA0010.jpg' alt='')
// Feature End
// Project Start
.container-xxl.project.py-5
  .container
    .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s' style='max-width: 600px;')
      h4.section-title Projelerimiz
      h1.display-5.mb-4 Son Projelerimizi ve Yenilik&ccedil;i &Ccedil;al&imath;&scedil;malar&imath;m&imath;z&imath; Ziyaret Edin
    .row.g-4.wow.fadeInUp(data-wow-delay='0.3s')
      .col-lg-4
        .nav.nav-pills.d-flex.justify-content-between.w-100.h-100.me-4
          button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active(data-bs-toggle='pill' data-bs-target='#tab-pane-1' type='button')
            h3.m-0 01. Kaplan Da&gbreve; Evi
          button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4(data-bs-toggle='pill' data-bs-target='#tab-pane-2' type='button')
            h3.m-0 02. Cambazl&imath; Da&gbreve; Evi
          button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4(data-bs-toggle='pill' data-bs-target='#tab-pane-3' type='button')
            h3.m-0 03. Dubleks Villa
          button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-0(data-bs-toggle='pill' data-bs-target='#tab-pane-4' type='button')
            h3.m-0 04. Kaplan Da&gbreve; Restaurant
      .col-lg-8
        .tab-content.w-100
          #tab-pane-1.tab-pane.fade.show.active
            .row.g-4
              .col-md-6(style='min-height: 350px;')
                .position-relative.h-100
                  img.position-absolute.img-fluid.w-100.h-100(src='img/project-1.jpg' style='object-fit: cover;' alt='')
              .col-md-6
                h1.mb-3 Mimarl&imath;k Sekt&ouml;r&uuml;nde 9 Y&imath;ll&imath;k Tecr&uuml;be
                p.mb-4
                  | Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                  | eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                p
                  i.fa.fa-check.text-primary.me-3
                  | Tasar&imath;m yakla&scedil;&imath;m&imath;
                p
                  i.fa.fa-check.text-primary.me-3
                  | Yenilik&ccedil;i &Ccedil;&ouml;z&uuml;mler
                p
                  i.fa.fa-check.text-primary.me-3
                  | Proje Y&ouml;netimi
                a.btn.btn-primary.py-3.px-5.mt-3(href='') Detayl&imath; Bilgi
          #tab-pane-2.tab-pane.fade
            .row.g-4
              .col-md-6(style='min-height: 350px;')
                .position-relative.h-100
                  img.position-absolute.img-fluid.w-100.h-100(src='img/project-2.jpg' style='object-fit: cover;' alt='')
              .col-md-6
                h1.mb-3 25 Years Of Experience In Architecture Industry
                p.mb-4
                  | Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                  | eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                p
                  i.fa.fa-check.text-primary.me-3
                  | Design Approach
                p
                  i.fa.fa-check.text-primary.me-3
                  | Innovative Solutions
                p
                  i.fa.fa-check.text-primary.me-3
                  | Project Management
                a.btn.btn-primary.py-3.px-5.mt-3(href='') Detayl&imath; Bilgi
          #tab-pane-3.tab-pane.fade
            .row.g-4
              .col-md-6(style='min-height: 350px;')
                .position-relative.h-100
                  img.position-absolute.img-fluid.w-100.h-100(src='img/project-3.jpg' style='object-fit: cover;' alt='')
              .col-md-6
                h1.mb-3 25 Years Of Experience In Architecture Industry
                p.mb-4
                  | Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                  | eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                p
                  i.fa.fa-check.text-primary.me-3
                  | Design Approach
                p
                  i.fa.fa-check.text-primary.me-3
                  | Innovative Solutions
                p
                  i.fa.fa-check.text-primary.me-3
                  | Project Management
                a.btn.btn-primary.py-3.px-5.mt-3(href='') Detayl&imath; Bilgi
          #tab-pane-4.tab-pane.fade
            .row.g-4
              .col-md-6(style='min-height: 350px;')
                .position-relative.h-100
                  img.position-absolute.img-fluid.w-100.h-100(src='img/project-4.jpg' style='object-fit: cover;' alt='')
              .col-md-6
                h1.mb-3 25 Years Of Experience In Architecture Industry
                p.mb-4
                  | Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                  | eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                p
                  i.fa.fa-check.text-primary.me-3
                  | Design Approach
                p
                  i.fa.fa-check.text-primary.me-3
                  | Innovative Solutions
                p
                  i.fa.fa-check.text-primary.me-3
                  | Project Management
                a.btn.btn-primary.py-3.px-5.mt-3(href='') Detayl&imath; Bilgi
// Project End
// Testimonial Start
.container-xxl.py-5
  .container
    .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s' style='max-width: 600px;')
      h4.section-title Testimonial
      h1.display-5.mb-4 Thousands Of Customers Who Trust Us And Our Services
    .owl-carousel.testimonial-carousel.wow.fadeInUp(data-wow-delay='0.1s')
      .testimonial-item.text-center(data-dot="<img class='img-fluid' src='img/testimonial-1.jpg' alt=''>")
        p.fs-5
          | Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut
          | diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.
        h3 Client Name
        span.text-primary Profession
      .testimonial-item.text-center(data-dot="<img class='img-fluid' src='img/testimonial-2.jpg' alt=''>")
        p.fs-5
          | Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut
          | diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.
        h3 Client Name
        span.text-primary Profession
      .testimonial-item.text-center(data-dot="<img class='img-fluid' src='img/testimonial-3.jpg' alt=''>")
        p.fs-5
          | Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut
          | diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.
        h3 Client Name
        span.text-primary Profession
// Testimonial End