extends layouts/main-layout.pug
block content 
  .container-fluid.page-header.py-5.mb-5.wow.fadeIn(data-wow-delay='0.1s')
    .container.py-5
      h1.display-1.text-white.animated.slideInDown Projelerimiz
      nav(aria-label='breadcrumb animated slideInDown')
        ol.breadcrumb.text-uppercase.mb-0
          li.breadcrumb-item
            a.text-white(href='/anasayfa') Anasayfa
          li.breadcrumb-item
            a.text-white(href='/projelerimiz') Projelerimiz

  .container-xxl.project.py-5
    .container
      .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 600px;')
        h4.section-title Projelerimiz
        h1.display-5.mb-4 Son Projelerimizi ve Yenilik&ccedil;i &Ccedil;al&imath;&scedil;malar&imath;m&imath;z&imath; Ziyaret Edin
      .row.g-4.wow.fadeInUp(data-wow-delay='0.3s')
        .col-lg-4
          .nav.nav-pills.d-flex.justify-content-between.w-100.h-100.me-4
            button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active(data-bs-toggle='pill', data-bs-target='#tab-pane-1', type='button')
              h3.m-0 01. Kaplan Da&gbreve; Evi
            button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4(data-bs-toggle='pill', data-bs-target='#tab-pane-2', type='button')
              h3.m-0 02. Cambazl&imath; Da&gbreve; Evi
            button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4(data-bs-toggle='pill', data-bs-target='#tab-pane-3', type='button')
              h3.m-0 03. Dubleks Villa
            button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-0(data-bs-toggle='pill', data-bs-target='#tab-pane-4', type='button')
              h3.m-0 04. Kaplan Da&gbreve; Restaurant
        .col-lg-8
          .tab-content.w-100
            #tab-pane-1.tab-pane.fade.show.active
              .row.g-4
                .col-md-6(style='min-height: 350px;')
                  .position-relative.h-100
                    img.position-absolute.img-fluid.w-100.h-100(src='img/project-1.jpg', style='object-fit: cover;', alt='')
                .col-md-6
                  h1.mb-3 Mimarl&imath;k Sekt&ouml;r&uuml;nde 9 Y&imath;ll&imath;k Tecr&uuml;be
                  p.mb-4
                    | Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                    | eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Tasar&imath;m yakla&scedil;&imath;m&imath;
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Yenilik&ccedil;i &Ccedil;&ouml;z&uuml;mler
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Proje Y&ouml;netimi
                  a.btn.btn-primary.py-3.px-5.mt-3(href='') Detayl&imath; Bilgi
            #tab-pane-2.tab-pane.fade
              .row.g-4
                .col-md-6(style='min-height: 350px;')
                  .position-relative.h-100
                    img.position-absolute.img-fluid.w-100.h-100(src='img/project-2.jpg', style='object-fit: cover;', alt='')
                .col-md-6
                  h1.mb-3 25 Years Of Experience In Architecture Industry
                  p.mb-4
                    | Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                    | eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Design Approach
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Innovative Solutions
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Project Management
                  a.btn.btn-primary.py-3.px-5.mt-3(href='') Detayl&imath; Bilgi
            #tab-pane-3.tab-pane.fade
              .row.g-4
                .col-md-6(style='min-height: 350px;')
                  .position-relative.h-100
                    img.position-absolute.img-fluid.w-100.h-100(src='img/project-3.jpg', style='object-fit: cover;', alt='')
                .col-md-6
                  h1.mb-3 25 Years Of Experience In Architecture Industry
                  p.mb-4
                    | Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                    | eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Design Approach
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Innovative Solutions
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Project Management
                  a.btn.btn-primary.py-3.px-5.mt-3(href='') Detayl&imath; Bilgi
            #tab-pane-4.tab-pane.fade
              .row.g-4
                .col-md-6(style='min-height: 350px;')
                  .position-relative.h-100
                    img.position-absolute.img-fluid.w-100.h-100(src='img/project-4.jpg', style='object-fit: cover;', alt='')
                .col-md-6
                  h1.mb-3 25 Years Of Experience In Architecture Industry
                  p.mb-4
                    | Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                    | eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Design Approach
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Innovative Solutions
                  p
                    i.fa.fa-check.text-primary.me-3
                    | Project Management
                  a.btn.btn-primary.py-3.px-5.mt-3(href='') Detayl&imath; Bilgi