extends layouts/main-layout.pug
block content 
  .container-fluid.page-header.py-5.mb-5.wow.fadeIn(data-wow-delay='0.1s')
    .container.py-5
      h1.display-1.text-white.animated.slideInDown Projelerimiz
      nav(aria-label='breadcrumb animated slideInDown')
        ol.breadcrumb.text-uppercase.mb-0
          li.breadcrumb-item
            a.text-white(href='/anasayfa') Anasayfa
          li.breadcrumb-item
            a.text-white(href='/projelerimiz') Projelerimiz
  include includes/project.pug 
  .container-xxl.py-5
    .container
      .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 600px;')
        h4.section-title Kaplan Dağ Evi
      .row.g-0.team-items
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/kaplan/eski2.jpeg', alt='')
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/kaplan/kaplan-dış.jpg', alt='')
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/kaplan/kaplan-dış2.jpg', alt='')
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.7s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/kaplan/kaplan-bahçe2.jpg', alt='')
    hr
    .container
      .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 600px;')
        h4.section-title Cambazlı Dağ Evi
      .row.g-0.team-items
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/cambazlı/cambazlı-eski.jpeg', alt='')
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/cambazlı/cambazlı-dış5.jpg', alt='')
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/cambazlı/cambazlı-iç6.jpg', alt='')
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.7s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/cambazlı/cambazlı-iç1.jpg', alt='')
    hr
    .container
      .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 600px;')
        h4.section-title Dubleks Villa
      .row.g-0.team-items
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/sezen/eski1.jpeg', alt='')
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/sezen/sezen-1.jpg', alt='')
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/sezen/sezen3.jpeg', alt='')
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.7s')
          .team-item.position-relative
            .position-relative.zoom
              img.img-fluid(src='img/gallery/sezen/sezen-iç.jpg', alt='')
      hr
      .container
        .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 600px;')
          h4.section-title Tiny House
        .row.g-0.team-items
          .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
            .team-item.position-relative
              .position-relative.zoom
                img.img-fluid(src='img/gallery/yuvalı/eski1.jpeg', alt='')
          .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
            .team-item.position-relative
              .position-relative.zoom
                img.img-fluid(src='img/gallery/yuvalı/yuvalı-dış1.jpeg', alt='')
          .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
            .team-item.position-relative
              .position-relative.zoom
                img.img-fluid(src='img/gallery/yuvalı/yuvalı-dış2.jpeg', alt='')
          .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.7s')
            .team-item.position-relative
              .position-relative.zoom
                img.img-fluid(src='img/gallery/yuvalı/yuvalı-iç1.jpg', alt='')