extends layouts/main-layout.pug
block content 
  .container-fluid.page-header.py-5.mb-5.wow.fadeIn(data-wow-delay='0.1s')
    .container.py-5
      h1.display-1.text-white.animated.slideInDown Servislerimiz
      nav(aria-label='breadcrumb animated slideInDown')
        ol.breadcrumb.text-uppercase.mb-0
          li.breadcrumb-item
            a.text-white(href='/anasayfa') Anasayfa
          li.breadcrumb-item
            a.text-white(href='/servislerimiz') Servislerimiz
  .container-xxl.py-5
    .container
      .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 600px')
        h4.section-title Servislerimiz
        h1.display-5.mb-4
          | Modern Mimari ve &Idot;&ccedil; Tasar&imath;ma Odakland&imath;k
      .row.g-4
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .service-item.d-flex.position-relative.text-center.h-100
            img.bg-img(src='img/service-1.jpg', alt='')
            .service-text.p-5
              img.mb-4(src='img/icons/icon-5.png', alt='Icon')
              h3.mb-3 Mimari Proje
              p.mb-4
                | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                | lorem sed diam stet diam sed stet.
              a.btn(href='')
                i.fa.fa-plus.text-primary.me-3
                | Detayl&imath; Bilgi
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .service-item.d-flex.position-relative.text-center.h-100
            img.bg-img(src='img/service-2.jpg', alt='')
            .service-text.p-5
              img.mb-4(src='img/icons/icon-6.png', alt='Icon')
              h3.mb-3 3D &Ccedil;izim
              p.mb-4
                | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                | lorem sed diam stet diam sed stet.
              a.btn(href='')
                i.fa.fa-plus.text-primary.me-3
                | Detayl&imath; Bilgi
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
          .service-item.d-flex.position-relative.text-center.h-100
            img.bg-img(src='img/service-3.jpg', alt='')
            .service-text.p-5
              img.mb-4(src='img/icons/icon-7.png', alt='Icon')
              h3.mb-3 Ev Planlama
              p.mb-4
                | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                | lorem sed diam stet diam sed stet.
              a.btn(href='')
                i.fa.fa-plus.text-primary.me-3
                | Detayl&imath; Bilgi
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .service-item.d-flex.position-relative.text-center.h-100
            img.bg-img(src='img/service-4.jpg', alt='')
            .service-text.p-5
              img.mb-4(src='img/icons/icon-8.png', alt='Icon')
              h3.mb-3 &Idot;&ccedil; dizayn
              p.mb-4
                | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                | lorem sed diam stet diam sed stet.
              a.btn(href='')
                i.fa.fa-plus.text-primary.me-3
                | Detayl&imath; Bilgi
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .service-item.d-flex.position-relative.text-center.h-100
            img.bg-img(src='img/service-5.jpg', alt='')
            .service-text.p-5
              img.mb-4(src='img/icons/icon-9.png', alt='Icon')
              h3.mb-3 Yenileme
              p.mb-4
                | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                | lorem sed diam stet diam sed stet.
              a.btn(href='')
                i.fa.fa-plus.text-primary.me-3
                | Detayl&imath; Bilgi
        .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
          .service-item.d-flex.position-relative.text-center.h-100
            img.bg-img(src='img/service-6.jpg', alt='')
            .service-text.p-5
              img.mb-4(src='img/icons/icon-10.png', alt='Icon')
              h3.mb-3 &Idot;n&scedil;aat
              p.mb-4
                | Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                | lorem sed diam stet diam sed stet.
              a.btn(href='')
                i.fa.fa-plus.text-primary.me-3
                | Detayl&imath; Bilgi